!!!
html
  head
    title The page
    script(src="/nowjs/now.js")
    script(type="text/javascript")
      now.ready(function(){
        // "Hello World!" will print on server
        now.logStuff("Hello World!");
      });
  body
    h1 Welcome to the page!
    p Isn't it fuckin sweet?