!!!
html
  head
    title The page
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src='/game.js')
  body
    canvas(id="canvas", width="500px", height="500px", style="border: 1px black solid")